
.container-fluid {
    box-sizing: border-box;
    border: 3px solid red;
}

.row{
    box-sizing: border-box;
    border: 3px solid red;
    height: 450px;

}

.col {
    box-sizing: border-box;
    border: 3px dotted blue;
    height: 224px;

}

.row-2 {
    box-sizing: border-box;
    border: 3px solid red;
    height: 450px;
}

.col-4 {
    box-sizing: border-box;
    border: 3px dotted blue;
    height: 444px;

}

.row-3 {
    box-sizing: border-box;
    border: 3px solid red;
    height: 450px;

}

.col-3 {
    box-sizing: border-box;
    border: 3px dotted blue;
    height: 444px;

}

.row-cols-2 {
    box-sizing: border-box;
    border: 3px solid red;
    height: 480px;

}

.col-2 {
    box-sizing: border-box;
    border: 3px dotted blue;
    height: 237px;

}

.row-5 {
    box-sizing: border-box;
    border: 3px solid red;
    Height: 480px;

}

.col-5 {
    box-sizing: border-box;
    border: 3px dotted blue;
    height: 237px;


}



